# dependencies
node_modules/

# env files
.env

# Jest in-memory Mongo URI (written by tests/global/jest-mongo-global-setup.js)
tests/.mongo-jest-uri

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store

# build outputs
dist/
build/
